<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script src='js/jquery-ui.js'></script>
    <link rel="stylesheet" href="css/painel.css"/>
    <script type="text/javascript" src="js/painel.js"></script>
    <title>Painel</title>
	</head>
	<body>
    <div class="smooth"></div>
    
    <div class="gooddata">
      <span class="title">  Data Integration  </span><br>
      <span class="data"></span>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>